<!--  ----------------------------------------------------------------------  -->

<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->

<!--  If necessary, please modify the charset parameter to specify the        -->

<!--  character set of your HTML page.                                        -->

<!--  ----------------------------------------------------------------------  -->

 

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function timestamp() { var response = document.getElementById("g-recaptcha-response");
    if (response == null || response.value.trim() == "") {
      var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);
      elems["ts"] = JSON.stringify(new Date().getTime());
      document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems);
    }
  } 
  setInterval(timestamp, 500);
</script>
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->
<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
<input type=hidden name='captcha_settings' value='{"keyname":"ESWebsite","fallback":"true","orgId":"00DA0000000aMYj","ts":""}'>
<input type=hidden name="oid" value="00DA0000000aMYj">
<input type=hidden name="retURL" value="https://www.energysmartyes.com/">
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail"                                  -->
<!--  value="matt.wilmoth@clearesult.com">                                    -->
<!--  ----------------------------------------------------------------------  -->
<label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
<label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
<label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>
<label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>
<label for="street">Street</label><textarea name="street"></textarea><br>
<label for="city">City</label><input  id="city" maxlength="40" name="city" size="20" type="text" /><br>
<label for="zip">Zip</label><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>
Homeowner Priority 1:<input  id="00NF0000008M7i9" maxlength="255" name="00NF0000008M7i9" size="20" type="text" /><br>
Homeowner Priority 2:<input  id="00NF0000008M7iE" maxlength="255" name="00NF0000008M7iE" size="20" type="text" /><br>
Homeowner Priority 3:<input  id="00NF0000008M7iO" maxlength="255" name="00NF0000008M7iO" size="20" type="text" /><br>
Language:<input  id="00N2I00000Dqoqv" maxlength="50" name="00N2I00000Dqoqv" size="20" type="text" /><br>
<div class="g-recaptcha" data-sitekey="6LfDf-gUAAAAADmj72yTU6ANmCyOa4q1Ea7uh4Gn"></div><br>
<input type="submit" name="submit">
</form>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
 function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
</script>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

<input type=hidden name='captcha_settings' value='{"keyname":"reCAPTCHA","fallback":"true","orgId":"00D5w000002v4Lg","ts":""}'>
<input type=hidden name="oid" value="00D5w000002v4Lg">
<input type=hidden name="retURL" value="http://energysmartyes.com">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail" value="stelly.dev@gmail.com">    -->
<!--  ----------------------------------------------------------------------  -->

<label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
<label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
<label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>
<label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>
<label for="street">Street</label><textarea name="street"></textarea><br>
<label for="city">City</label><input  id="city" maxlength="40" name="city" size="20" type="text" /><br>
<label for="zip">Zip</label><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>
Home Priority 1:<input  id="00N5w00000HSOsp" maxlength="255" name="00N5w00000HSOsp" size="20" type="text" /><br>
Home Priority 2:<input  id="00N5w00000HSOsu" maxlength="255" name="00N5w00000HSOsu" size="20" type="text" /><br>
Home Priorty 3:<input  id="00N5w00000HSOsz" maxlength="255" name="00N5w00000HSOsz" size="20" type="text" /><br>
Language:<input  id="00N5w00000HSOt4" maxlength="50" name="00N5w00000HSOt4" size="20" type="text" /><br>
<div class="g-recaptcha" data-sitekey="6Lfbcu4UAAAAACKWd58-nKlk5v6S39zx5zJIHWxt"></div><br>
<input type="submit" name="submit">
</form>



<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
 function timestamp() { var response = document.getElementById("g-recaptcha-response");
   if (response == null || response.value.trim() == "") {
     var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);
     elems["ts"] = JSON.stringify(new Date().getTime());
     document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems);
   } }
 setInterval(timestamp, 500); 
</script>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
<input type=hidden name='captcha_settings' value='{"keyname":"key","fallback":"true","orgId":"00D5w000002v4Lg","ts":""}'>
<input type=hidden name="oid" value="00D5w000002v4Lg">
<input type=hidden name="retURL" value="http://energysmartyes.com">
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail" value="stelly.dev@gmail.com">    -->
<!--  ----------------------------------------------------------------------  -->
<label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
<label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
<label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>
<label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>
<label for="street">Street</label><textarea name="street"></textarea><br>
<label for="city">City</label><input  id="city" maxlength="40" name="city" size="20" type="text" /><br>
<label for="zip">Zip</label><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>
Home Priority 1:<input  id="00N5w00000HSOsp" maxlength="255" name="00N5w00000HSOsp" size="20" type="text" /><br>
Home Priority 2:<input  id="00N5w00000HSOsu" maxlength="255" name="00N5w00000HSOsu" size="20" type="text" /><br>
Home Priorty 3:<input  id="00N5w00000HSOsz" maxlength="255" name="00N5w00000HSOsz" size="20" type="text" /><br>
Language:<input  id="00N5w00000HSOt4" maxlength="50" name="00N5w00000HSOt4" size="20" type="text" /><br>
<div class="g-recaptcha" data-sitekey="6Lexd-4UAAAAAHAymxYMWb1Z-lzqE-xzLsAm0qKR"></div><br>
<input type="submit" name="submit">
</form>

